@media only screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .nav1 {
    display: none;

    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .nav-list a {
    font-size: 1.3rem;
  }

  .active {
    display: flex;
  }

  /* .nav1 .active {
    display: flex;
  } */
  .navbar .logo {
    margin-top: 10px;
  }
  .navbar a {
    padding: 5px 10px;
    margin: 0 5px;
  }

  .hero .content {
    margin-top: 10px;
  }
  .hero .content h1 {
    font-size: 40px;
  }
  .hero .content p {
    max-width: 70%;
    font-size: 16px;
  }

  .section-info {
    max-width: 70%;
  }
  .skills-center {
    max-width: 80%;
  }

  .cards .desc {
    height: 9rem;
  }
  .actions {
    font-size: 1.1rem;
  }

  .skill-container {
    margin: 3px;
  }

  .social-icon-footer {
    margin-top: 0;
  }
}
