/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
:root {
  /* dark shades of primary color*/
  --clr-primary: #28a745;
  /*rgb(51, 44, 56)*/
  --clr-secondary: #f64c72;
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --background-primary: #12343b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

body {
  font-family: var(--ff-secondary);
  color: var(--clr-white);
  background: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

/* Navbar  */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: black;
  opacity: 0.8;
  width: 100%;
  height: 70px;

  top: 0;
  padding: 0 30px;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.navbar.top {
  background: transparent;
}
.navbar a {
  color: var(--clr-white);
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
  color: #28a745;
}

/* Header */
.hero {
  background: var(--background-primary);
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 90px;
}

.hero .content p {
  color: grey;
  font-size: 20px;
  max-width: 40%;
  margin: 20px 0 30px;
}

.hero .content p strong {
  color: var(--clr-white);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

.social-icons {
  margin-top: 1rem;

  display: flex;
  padding: 10px;
}

.social-icon {
  font-size: 2rem;
  color: var(--clr-white);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  padding: 13px;
}

.social-icon:hover {
  color: var(--clr-primary);
}

/* section */

.section {
  background: var(--clr-white);
  color: #000000;
  margin-bottom: 30px;
}

.section-title h2 {
  display: grid;
  place-items: center;
  font-size: 50px;
  font-family: var(--ff-roboto);
  padding-top: 30px;
}

.section-info {
  max-width: 50%;
  margin: 0 auto;
}
.section-info p {
  text-align: left;
  font-family: var(--ff-secondary);
}

.projects {
  background: var(--background-primary);
}
.project-width {
  max-width: 80%;
  margin: 0 auto;
}

.projects .section-title {
  color: #fff;
}

.cards {
  max-width: 300px;
  margin: 30px 30px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.image {
  height: 300px;
  width: auto;
}

.cards .title,
.cards .desc {
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.skills-center {
  max-width: 40%;
  margin: 0 auto;
}
.skill-box-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.skill-container {
  padding: 25px;
  margin: 10px;
}
.skill-container img {
  height: 75px;
}
.skill-name {
  text-align: center;
}
footer {
  height: 20vh;
  background: var(--background-primary);
  color: #000000;
}

.footer {
  max-width: 80%;
  margin: 0 auto;
}

.social-icon-footer {
  margin-top: 50px;
  margin: 0 auto;
}

.footer p {
  font-family: var(--ff-roboto);
  color: #fff;
  font-size: 1rem;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}
